<!DOCTYPE html>
<html>
<head>
    <title>CLICK MY BUTTONS!~!</title>
    <link rel="stylesheet" type="text/css" href="../static/buttonStyle.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body id="background">
<div>
    <a href="./buttons/button_world">
        <img id='image' alt="wonderful world" src="https://i.gyazo.com/229d7cb6dc328d5dcd6cfdb43cf49915.png"/>
    </a>
</div>
<div id="wrapper">
    <button class="project-buttons" id='red'>Red</button>
    <button class="project-buttons" id='green'>Green</button>
    <button class="project-buttons" id='blue'>Blue</button>
</div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
