{% extends 'base.html' %}

   {% block title %}CLICK MY BUTTONS!~!{% endblock %}

{% block body_content %}
<div>
    <a href="./buttons/button_world">
        <img id='image' alt="wonderful world" src="https://i.gyazo.com/229d7cb6dc328d5dcd6cfdb43cf49915.png"/>
    </a>
</div>
<div id="wrapper">
    <button class="project-buttons" id='tomato'>Red</button>
    <button class="project-buttons" id='forestgreen'>Green</button>
    <button class="project-buttons" id='aqua'>Blue</button>
</div>
{% endblock %}}

